<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript</title>
    <script type="text/javascript" src="user.js"></script>
</head>
<body>

    <p>Template för Js</p>

    <div id="output"></div>

    <button type="button" onclick="generateMessage()">Knapp</button>

    <script type="text/javascript" src="script.js"></script>

    <script type="text/javascript">
        generateUsers()
    </script>

    <h1>JSON section</h1>

    <script type="text/javascript" src="json.js"></script>

</body>
</html>

