<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!---
<form th:action="@{/saveUser}" th:object="${user}" method="POST">
    <input type="text" placeholder="Användare" th:field="*{name}"><br>
    <input type="submit" value="Registrera dig">
</form>--->

<form th:action="@{/saveUserParam} "method="POST">
    <input type="text" placeholder="Användare" th:name="name"><br>
    <input type="text" placeholder="Adress" th:name="address"><br>
    <input type="submit" value="Registrera dig">
</form>

<p th:text="${msg}"></p>

<!---
<div th:each="user: ${users}">
    <p th:text="${user.name}" />
</div>--->

</body>
</html>